/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}


html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    /* Pour éviter la barre de défilement horizontale */
    background-color: #ffffff;
    /* Le dégradé va du bas (#3498db, bleu) vers le haut (#ffffff, blanc) */
}

h4 {
    margin: 0;
}

/* Autres styles pour le contenu de la page */


/* Autres styles pour vos éléments de contenu */

header {
    background-color: #90B6EF;
    position: fixed;
    border-radius: 0px 0px 30px 30px;
    top: 0;
    left: 0;
    width: 100%;
    /* Prendre toute la largeur de la fenêtre */
    z-index: 100;
    /* Assurez-vous qu'il est au-dessus des autres éléments */
}

.header {
    position: relative;
    /* Utiliser Flexbox pour aligner les éléments horizontalement */
    justify-content: center;
    /* Centrer horizontalement les éléments à l'intérieur du header */
    align-items: center;
    /* Centrer verticalement les éléments à l'intérieur du header */
    height: 70px;
    /* Hauteur du header (ajustez selon vos besoins) */
    box-shadow: 0px 39px 35px -33px rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    background: #90B6EF;
}

.btnA {

    color: #ED1E18;
    font-size: 30px;
    background-color: #00000000;
    border: none;
}

.btnA:hover {
    color: #7AAAEB;
    font-size: 26px;
    border-color: #000;
}

.premiere {
    position: relative;
    background-image: url(/Image/couplevelo.jpg);
    background-size: cover;
    /* Redimensionne l'image pour remplir entièrement la div */
    background-repeat: no-repeat;
    background-position: center center;
    /* Centre l'image horizontalement et verticalement */
    background-attachment: fixed;
    /* Fixe l'image en arrière-plan pour éviter le défilement */
    height: 400px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);

}

.contact-container li {
    text-align: center;
    font-size: large;
}

.contact-container img {
    width: 240px;
}

.charte-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    left: 100px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.charte-container>img {
    width: 36px;
    height: 36px;
}

.premiere::before {
    /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); */
    /* Couleur de fond sombre semi-transparente */
}

.rdvcontent {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}

.Accueil {

    text-align: center;
    margin-top: 120px;
    color: #000000;
}

.Accueil>p {
    position: relative;
    z-index: 1;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.apropo {
    text-align: center;
    margin-top: 100px;
    color: #000000;
    column-count: 2;
    /* Divise en deux colonnes */
    column-gap: 20px;
    /* Espace entre les colonnes */
    text-align: center;
    /* Centre le texte dans chaque colonne */
}

.apropo>p {

    font-size: 20px;
    text-align: center;
    margin: 25px 80px 0px 80px;
    color: #000;
    padding: 30px;

    grid-template-columns: repeat(2, 2);
}

.titre {}

.logocoupleetfamille {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.Decouvrir {
    display: flex;
    text-align: center;
    margin-top: 100px;
    color: #000000;
    flex-direction: row;
}

#aloevera {

    width: 30vw;
    /* 50% de la largeur de l'écran */
    height: 100%;
    /* 100% de la hauteur de l'écran */
    background-image: url(/Image/aloevera.jpg);
    /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.liste {
    list-style-type: none;
    font-size: 30px;
    line-height: 2.3;
    margin-top: 120px;
    /* margin-bottom: auto; */
    padding-left: 20px;
    margin-left: 0px;
}

.liste li {
    margin-bottom: 5px;
    font-size: smaller;
    /* Marge entre chaque élément de la liste */
}


.Decouvrir>p {
    color: #000000;
    text-align: left;
    font-size: small;
    margin-left: 10px;
    line-height: 1.5;
}

.titre {
    font-size: 40px;
    text-align: center;
    text-align: center;
    /* Centre le titre */
    column-span: all;
    /* Fait en sorte que le titre s'étende sur les deux colonnes */
    color: #000;
}

#contact {

    margin-bottom: -155px;
}

.equipe p {
    font-size: 20px;
    text-align: center;

    color: #000;
}

.texte {

    font-size: 20px;
    text-align: center;
    margin: 25px 80px 0px 80px;
    color: #000;
}

.Localisation {
    text-align: center;
    margin-top: 100px;
    color: #000000;
    /* margin-bottom: 100px; */
}

.Localisation>p {
    margin: 50px 0px 50px 0px;
    color: #000;
}

.footer {
    /* margin-top: 100px; */
}

.footer img {
    width: 100%;
    height: 30%;
}

/* .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    width: 350px;
    height: 350px;
} */

.scrollable-content {
    max-height: 60vh;
    /* Hauteur maximale relative à la vue (viewport height, vh) */
    overflow-y: auto;
    /* Ajoute une barre de défilement en cas de dépassement de la hauteur maximale */
    padding: 10px;
}

hr {
    margin: 0;
    display: block;
    height: 10px;
    border: 0;
    border-top: 12px solid #7BAAEA;
    padding: 0;
    color: #000000;
}

.btn {

    align-items: center;
    background-color: #7AAAEB;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    color: #f0f0f0;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 225px;
    margin: 25px 0px 25px 0px;

}

.btn:hover {
    background-color: #ED1E18;
}

.modal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;

}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); Ombre */
    border-radius: 30px 30px 30px 30px;
}

tbody {
    border-radius: 30px 30px 30px 30px;
}

.Horaires {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
    border: #00000000;
    /* border-radius: 10px; Bordures arrondies */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Ombre */
}

.titre {
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* tr:hover {
    background-color: #ddd;
} */
#Fermé {
    border-radius: 0px 0px 30px 0px;
    border: #00000000;
}

#Dimanche {
    border-radius: 0px 0px 0px 30px;
    border: #00000000;
}

#Horaires {
    border-radius: 0px 30px 0px 0px;
    border: #00000000;
}

#journée {
    border-radius: 30px 0px 0px 0px;
    border: #00000000;
}

#Quotient {
    border-radius: 30px 0px 0px 0px;
    border: #00000000;
}

#Entretien {
    border-radius: 0px 30px 0px 0px;
    border: #00000000;
}

#Supérieur {
    border-radius: 0px 0px 30px 0px;
    border: #00000000;
}

#quatre {
    border-radius: 0px 0px 0px 30px;
    border: #00000000;
}



.col1 {
    background-color: #176ee947;
}

.col2 {
    background-color: #ddd;
}

.tarif {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
    border: #00000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}




.menu {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    background: #90B6EF;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    color: #000;
    font-size: 24px;
}

.modal-content p {

    margin: 10px 0px 0px 0px;
    padding: 20px;
   
}

.scrollable-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn_menu {

    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    margin-right: 15px;

}

.menu-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    background-color: #90B6EF;
}

.menu-container.active {
    max-height: 300px;
    border-radius: 0px 0px 30px 30px;
    color: #000000;
}

#secretaire {
    text-align: center;
    font-size: 30px;
    color: #000;
     margin: 0px 10px 20px 10px;
    padding: 40px;
    max-width: 75%;
    margin: 20px 10px 20px 10px;
    
}

.nav_list {
    list-style: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#smartphone {
    width: 60px;
}

.rdvcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center center;
    justify-content: space-around;


}

.equipetitre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}

.equipetitre img {
    width: 80px;
    margin-left: 50px;
}


.nav__item {
    margin: 10px 0;
    color: #000000;
}

.nav__link {
    color: #ffffff;
    /* Couleur du texte de la liste */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    /* Transition de la couleur du texte */
}

.nav__link:hover {
    color: rgb(219, 3, 154);
    /* Couleur du texte au survol */
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    width: 350px;
    height: 350px;
}

.logofamille {
    animation: 1s ease-out 0s 1 slideInLeft;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%) translateY(100px);
    /* Déplace l'image vers le bas de 100px tout en la centrant horizontalement */
    width: 50%;
    position: relative;
    left: 50%;
}

.logofamille.active {
    animation: 1s ease-out 0s 1 slideInLeft;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%) translateY(100px);
    /* Déplace l'image vers le bas de 100px tout en la centrant horizontalement */
    width: 50%;
    position: relative;
    left: 50%;
}

#titrelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: black;

}

.main {
    display: flex;
    align-items: center;
    /* Alignez verticalement au centre */

    position: relative;
    background-image: url(/Couple-Famillewebsite/Image/aloevera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Centre l'image horizontalement et verticalement */
    background-attachment: fixed;
    /* Fixe l'image en arrière-plan pour éviter le défilement */
    height: 300px;
    margin-bottom: 0;
    background-position-y: -350px;
}

.main>p {
    color: #f0f0f0;
    flex: 1;
    /* Faites en sorte que le paragraphe prenne tout l'espace disponible en largeur */
    margin: 0;
    /* Supprimez la marge par défaut du paragraphe */
    padding: 20px;
    /* Ajoutez un peu d'espace intérieur */
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    /* Alignez le texte à gauche */
}

.main::before {
    content: "";
    flex: 1;
    /* Ajoutez un espace vide à droite pour séparer le texte de l'image */
}

.main img {
    height: 100%;
    /* Ajustez la hauteur de l'image pour occuper toute la hauteur du conteneur */
    max-width: 100%;
    /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
}



@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(50);
    }
}




.Horaires>p {
    margin-bottom: 20px;
}

.header .menu-container .nav_list {
    list-style: none;
    /* Pour supprimer les puces de la liste */
    padding: 0;
    /* Supprimer le remplissage par défaut de la liste */
}

.header .menu-container .nav_list .nav__item {
    border-bottom: 1px solid #ccc;
    /* Ajouter une bordure en bas de chaque élément de la liste */
    padding: 10px;
    /* Ajouter un remplissage pour espacer les éléments */
}

.header .menu-container .nav_list .nav__item:last-child {
    border-bottom: none;
    /* Ne pas ajouter de bordure en bas au dernier élément pour éviter un double trait */
}

/* Au survol, appliquer un fond gris */
.header .menu-container .nav_list .nav__item:hover {
    background-color: #f0f0f0;
    /* Couleur grise au survol */
}

.left-line {

    top: 0;
    margin-top: -10px;
    margin-left: 30px;
    height: 100%;
    border: none;
    border-left: 5px solid #ED1E18;
    /* Épaisseur et couleur de la ligne */
}

.container {
    display: flex;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 3;

}

.map {
    width: 100%;
}

/* .left-line {
    height: 100%;

    margin-top: -10px;
    margin-left: 50px;
    border-left: 5px solid #ED1E18;
} */
.container p {
    padding: 10px 10px 10px 10px;
    color: #ED1E18;
    font-size: 24px;
    margin: -10px 0px 20px 0px;
}


#texte {
    color: #000;
    text-align: center;
}


.vitrine {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.vitrinemobile {
    display: none;
}

.vitrine img {
    width: calc(60% - 10px);
    margin-right: 0px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {

    /* Styles spécifiques pour les écrans dont la largeur est inférieure ou égale à 600px */
    .vitrinemobile {
        flex-direction: column;
        /* Met les images sur deux colonnes */
    }
}

/* Par exemple, pour les écrans plus grand que 400px */
@media (min-width: 400px) {



    .btn {

        border-radius: 100px;
    }

    .logofamille {
        width: 20%;
        height: 30%;
    }

    .premiere {
        height: 100%;
    }

    #Quisommesnous {
        margin-bottom: -100px;
    }

    .Accueil>p {
        position: relative;
        z-index: 1;
        margin-top: 62cpx;
        color: #ffffff;
        font-size: 50px;
    }

    .header {
        display: none;
    }

    header {
        position: static;
        background-color: #00000000;
    }

    .header-laptop {

        background-color: #00000000;
    }

    .header-laptop ul {
        background-color: #7AAAEB;
        display: flex;
        flex-direction: row;
        height: 183px;
        font-weight: bold;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        font-size: larger;
    }

    .modal-container {
        display: flex;
        flex-flow: wrap;
        place-content: stretch space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
    }



}

.container .right-column p img {

    width: 246px;
    /* Ajuste automatiquement la hauteur en fonction de la largeur */
}


.map1 {
    display: none;
}

.Quisommesnous {

    /* Permalink - use to edit and share this gradient. Permalien - à utiliser pour éditer et partager ce gradient: https://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
    background: linear-gradient(to bottom, #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */



}

.container .right-column p img {

    margin: 10px 10px -10px 0px;
    width: 46px;
    height: auto;
    /* Ajuste automatiquement la hauteur en fonction de la largeur */
}

.equipe {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#tarifs {
    margin-top: 100px;
}

/* Styles pour la div d'arrière-plan de la vidéo */
.equipe {
    position: relative;
    height: 100vh;
    /* Assurez-vous que la div équipe prend 100% de la hauteur de la vue (viewport height) */
    overflow: hidden;
    /* Cache le débordement si nécessaire */
}


/* Styles pour la vidéo */
.video {
    margin-top: 151px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.7; */
    /* Ajustez l'opacité selon vos préférences pour la lisibilité */
}

.text-overlay p {

    display: flex;
    justify-content: flex-start;

}

.text-overlay p ul {

    display: flex;
    justify-content: flex-start;

}

/* Styles pour le texte superposé */
.text-overlay {
    font-size: 22px;
    margin-top: 200px;

    height: auto;
    position: relative;
    /* Assurez-vous que le texte est positionné par rapport à la div d'équipe */
    z-index: 1;
    /* Placez le texte au-dessus de la vidéo */
    color: #fff;
    /* Couleur du texte */
    text-align: center;
    padding: 20px;
    /* Espacement intérieur pour le texte */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent pour améliorer la lisibilité */
}

.texte {
    max-width: 50%;
    /* Ajustez la largeur du texte selon vos préférences */
}

/* Par exemple, pour les écrans plus petits que 400px */
@media (max-width: 400px) {
    .apropo {
        text-align: center;
        margin-top: 100px;
        color: #000000;
        column-count: 1;
    }

    .modal-content {

        margin: auto;
        padding: 30px;
        border: 1px solid #888;
        width: 90%;
        color: #000;
        font-size: 14px;
    }

    .modal-content h2 {
        align-items: center;
        justify-content: center;
    }


    #secretaire {
        font-size: 15px;
        color: #000;
        margin: 20px 10px 20px 10px;
    }

    .Localisation {
        text-align: center;
        margin-top: 50px;
        color: #000000;
        
    }

    .video {

        margin-top: 220px;
    }

    .text-overlay {
        font-size: 12px;
        margin-top: 12px;

    }

    .equipetitre {
        margin-top: 60px;
    }


    #aloevera {
        width: 50vw;
        height: 70vh;
        background-image: url(/Chemin/vers/votre/image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

    }


    .liste {
        margin-top: 0px;
        margin-left: 0px;
        font-size: 14px;
    }

    .vitrine {
        display: none;
    }

    .vitrinemobile img {
        width: 100%;
        /* Les images occupent toute la largeur lorsque l'écran est étroit */
        margin-bottom: 10px;
    }

    .vitrinemobile {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Deux colonnes égales */
        /* grid-gap: 10px; Espacement entre les images */
        margin-left: auto;
        /* Centre la grille horizontalement */
        margin-right: auto;
        gap: 100px;
    }

    .map {
        display: none;
    }

    .header-laptop {
        display: none;
    }

    .premiere {
        position: relative;
        background-image: url(/Image/couplevelo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* Centre l'image horizontalement et verticalement */
        background-attachment: fixed;
        /* Fixe l'image en arrière-plan pour éviter le défilement */
        height: 500px;
        margin-bottom: 0;
        background-position-y: -50px;
        background-color: rgba(0, 0, 0, 0.2);
    }


    .apropo>p {
        font-size: 16px;
        text-align: center;
        margin: 25px 40px 0px 40px;
        color: #000;
    }

    .texte {
        font-size: 16px;
        text-align: center;
        /* margin: 25px 40px 0px 40px; */
        color: #000;
    }

    .container p {
        padding: 10px 10px 10px 10px;
        color: #ED1E18;
        font-size: 14px;
        margin: -10px 0px 20px 0px;
    }

    #contact {
        margin-top: 60px;
        margin-bottom: -20px;
    }
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
}
:root {
    --mycolor: rgb(255,0,140)
} */
footer {
    width: 100%;

    bottom: 0;
    background: #7AAAEB;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
}

.text {
    font-size: 28px;
    font-weight: bold;
    margin: 40px auto;
}


.list-footer {
    margin: 40px auto;
    display: flex;
    list-style-type: none;
}

.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.list-footer li a:hover {
    color: rgb(219, 3, 154);
}

.social-media {
    margin: 20px auto;
    display: flex;
    align-content: stretch;
    align-items: center;
}

.social-media i {
    padding: 20px;
    font-size: 50px;
    color: #fff;
}

.social-media i:hover {
    color: rgb(2, 255, 171);
}

@media(max-width:810px) {

    .text,
    footer input[type='email'],
    footer input[type='submit'] {
        font-size: 20px;
        width: 90%;
    }

    .list-footer li a {
        padding: 15px;
        font-size: 15px;
    }

    .social-media i {
        padding: 10px;
    }
}

@media(max-width:470px) {

    .list-footer li a {
        padding: 5px;
    }
}

@media(max-width:400px) {
    footer {
        width: 100%;


        background: #7AAAEB;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #fff;
        padding: 0px;
        margin-top: 10px;
    }

    .list-footer li a {
        padding: 5px;
        font-size: 10px;

    }
}

#tariffoyer {
    border-radius: 20px 20px 0 0;
    border: #00000000;
}

.tariffoyer {
    border: #00000000;
    border-radius: 0 0 20px 20px;
}

.tariffoyer td {
    border: #00000000;
    border-radius: 0 0 20px 20px;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
  color: rgb(2, 255, 171);

}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}